<div>
    <label><i class="fa-solid fa-utensils fa-fw"></i> Provisions</label>
    <span class="value">{{ actor.data.darkSun.foodPoints }} fp</span>
</div>
<div>
    <label><i class="fa-solid fa-wrench fa-fw"></i> Resources</label>
    <span class="value">{{ actor.data.darkSun.resourcePoints }} rp</span>
</div>