<div>
    <label><i class="fa-solid fa-utensils fa-fw"></i> Provisions</label>
    <span" class="value"><a class="foodPoints">{{ actor.data.darkSun.foodPoints }} fp</a></span>
</div>
<div>
    <label><i class="fa-solid fa-wrench fa-fw"></i> Resources</label>
    <span class="value"><a class="resourcePoints">{{ actor.data.darkSun.resourcePoints }} rp</a></span>
</div>