<div>
    <label><i class="fa-solid fa-utensils fa-fw"></i> Provisions</label>
    <span" class="value">
        {{#if isGM}}<a class="foodPoints">{{/if}}
            {{ actor.data.darkSun.foodPoints }} fp
        {{#if isGM}}</a>{{/if}}
    </span>
</div>
<div>
    <label><i class="fa-solid fa-wrench fa-fw"></i> Resources</label>
    <span class="value">
        {{#if isGM}}<a class="resourcePoints">{{/if}}
            {{ actor.data.darkSun.resourcePoints }} rp
        {{#if isGM}}</a>{{/if}}
    </span>
</div>