<div class="container">
    <h3>Resting for the Night</h3>
    <p>In order to avoid making a Starvation check, you will need to consume <u><strong>{{ foodRequired }} Food Point(s)</strong></u> from the party stash. 
    <p>For more information about food points and starvation, please see the <emphasis>Provisions</emphasis> sidebar in the <emphasis>Introduction</emphasis> Journal for more information.</p>
    <p>Consume food points from the stash or make a starvation roll?</p>
</div>